<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InputPath" value="C:\Users\leosm\Documents\Projects\TCC\RulesByMonth"/>
    <add key="OutputPath" value="C:\Users\leosm\Documents\Projects\TCC\RulesByMonthAnalyses"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>